nav ul {
    display: inline-block;
    text-align: center;
    list-style: none;
    gap: 30px;
    padding-bottom: 10px;
}

#icono {
    display: none;
}

nav ul li {
    padding: 5px;
}

.hero {
    padding: 155px 0;
}

.hero p {
    display: none;
}

.hero .imagenes {
    display: none;

}

.products {
    background-color: #f5f5f5;
    height: 1450px;
}

.products h2 {
    padding-bottom: 30px;
}
.products p {
    display: none;
}
.product-grid {
    display: flx;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}